h1, h2, h3
  color: #111
  line-height: 1em

h1
  font-size: 30px
  margin: 10px 0 10px

h2
  font-size: 22px


::selection
  background: #e4701e
  color: #fff
  text-shadow: none

.clearfix:after
  content: "."
  display: block
  clear: both
  visibility: hidden
  line-height: 0
  height: 0

table
  margin: 0 10px 10px 0
  border-collapse: collapse
  width: 100%
  td, tr, th
    padding: 8px
  // borders
  th
    border: 1px solid #000
    font-weight: bold
    padding: 12px 4px
  td
    border: 1px solid #000